<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swiftopolis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TileGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TileGenerator2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>146ABA5F1A4F0EE0002A1B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>146ABA731A4F0EE0002A1B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14DBB9461A6AB7AE006DD969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14EFF6FF1ABE5A77002A4E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
